{{ define "header" }}

<header>
  <div data-sticky-container>
    <nav class="top-bar" data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%">
      <div class="top-bar-left">
        <div class="title">
          <h1><a href="/">America&rsquo;s Public Bible</a></h1>
        </div>
        <div class="subtitle"><a href="/">A Commentary</a>
          <span class="author">by <a href="https://lincolnmullen.com/">Lincoln A. Mullen</a>
          </span>
        </div>
      </div>
      <div class="top-bar-right" style="text-align: left!important;">
        <a href="/#toc">Table of Contents</a>
      </div>
    </nav>
  </div>
</header>

{{ end }}


{{ define "main" }}

<main id="home">

  <section>

    <article id="homepage-introduction"> {{ .Content }} </article>
  </section>

  <section id="teasers">
    <div class="grid-x grid-margin-x">
      <div class="cell small-4 callout">
        <p><a href="#toc">Let me read about the history of how the Bible was used in U.S. politics and cultural life
            &rarr;</a></p>
        <a href="#toc">
          <img src="/teasers/prose.png">
        </a>
      </div>
      <div class="cell small-4 callout">
        <p><a href="#verse-trends">Show me interactive visualizations of trends in how verses were quoted &rarr;</a></p>
        <a href="#verse-trends">
          <img src="/teasers/trend.png">
        </a>
      </div>
      <div class="cell small-4 callout">
        <p>
          <a href="#gallery">
            Let me see examples of interesting quotations from the Bible in newspapers &rarr;
          </a>
        </p>
        <a href="#gallery">
          <img src="/teasers/quotation.png">
        </a>
      </div>
    </div>
  </section>

  <section id="how-to-use" style="margin-top:2rem; margin-bottom:4rem;">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">
          <h3>How to use this website</h3>
        </a>
        <div class="accordion-content" data-tab-content>
          {{ with .Site.GetPage "/how-to-use" }} {{ .Content }} {{ end }}
        </div>
      </li>
    </ul>
  </section>

  <hr style="width:20%;" />

  <a id="toc"></a>

  <section id="essays">
    <h2>Essays and explorations</h2>
    {{ range (where .Site.RegularPages "Type" "essay").ByParam "order" }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p class="toc-description"> {{ .Description | markdownify }} </p>
    {{ end }}
  </section>

  <hr style="width:40%;" />

  <section id="verse-histories">
    <h2>Verse histories</h2>
    {{ range (where .Site.RegularPages "Type" "verse").ByParam "order" }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if ne .Params.Author "Lincoln Mullen" }}
      <small>by {{ .Params.Author }}</small>
      {{ end }}
    </h3>
    <p class="toc-description">
      <span class="toc-verse">{{ .Params.Reference }}&mdash;&ldquo;{{ .Params.Snippet }}&rdquo;</span>
      <br />
      {{ .Description | markdownify }}
    </p>
    {{ end }}
  </section>

  <hr style="width:60%;" />

  <section id="verse-trends">
    <h2>Trends in biblical quotations</h2>

    <p>The heart of this site is a set of interactive visualizations which let you see the trend in the rate of
      quotations for any given verse in <em><a href="https://chroniclingamerica.loc.gov/">Chronicling America</a></em>
      and <em><a href="https://www.gale.com/c/nineteenth-century-us-newspapers">Nineteenth-century Newspapers</a></em>,
      then
      see examples of those quotations on the newspaper page at <em>Chronicling America</em>.</p>

    <p>If you have a verse you want to look up directly, you can search for it below. (Note that the lists of verses
      below are
      rather selective, and so return verses with higher quality results. The verse search feature below returns many
      more verses, and the quality of the results for some verses may therefore be lower.) You can search for either the
      reference
      of the verse (e.g., &ldquo;Genesis 1:1&rdquo;) or the text of the verse in the King James Version (e.g., &ldquo;In
      the beginning,
      God created the heaven and the earth&rdquo;).</p>

    {{ partial "verse-select.html" }}

    <p>Below are the trends for featured verses, a few of which are also the subject of the <a
        href="#verse-histories">verse histories</a>. You can also browse the verses in three other ways: (1) the most
      quoted verses in descending order of frequency; (2) verses that had a peak rate of quotation in a given year,
      arranged
      chronologically;
      and (3) frequently quoted verses in their order in the Christian Bible.</p>

    <a class="large button" href="/verse-viewer/most-quoted/">Verses most quoted</a>
    <a class="large button" href="/verse-viewer/peaks/">Verses chronologically</a>
    <a class="large button" href="/verse-viewer/biblical/">Verses in biblical order</a>
    <!-- </div> -->
    <h3>Featured verses</h3>
    <div id="featured-verses" class="grid-container verse-index"></div>
  </section>

  <hr style="width:80%;" />

  <section id="gallery">
    <h2>Quotations gallery</h2>
    <p>Striking examples of quotations from the Bible in newspapers.</p>
    <div class="grid-x grid-margin-x homepage-gallery">
      {{ range where .Site.RegularPages "Type" "gallery" | first 20 }}
      <div class="cell medium-3 small-4">
        <div class="gallery-item">
          {{ $img := .Resources.GetMatch "quotation.png"}} {{ $thumbnail :=
          $img.Fill "410x210 TopLeft" }} {{ $anchor := urlize .Title }}
          <a href="/gallery/#{{ $anchor }}">
            <img src="{{ $thumbnail.Permalink }}" alt="Thumbnail of {{ .Title }}" />
          </a>
        </div>
      </div>
      {{ end }}
    </div>
    <p class="text-right">
      <a href="/gallery/">See more quotations in the gallery &rarr;</a>
    </p>
  </section>

  <hr />

  <section id="appendix">
    <h3>Appendix: Data and code</h2>
      {{ with .Site.GetPage "/appendix" }} {{ .Content }} {{ end }}
  </section>

  <hr />

  <section>
    <h3>About the author</h3>

    {{ with .Site.GetPage "/about-the-author" }} {{ .Content }} {{ end }}

    {{ partial "newsletters.html" . }}

  </section>

  <hr />

  <section>
    <h3>Suggested citation</h3>
    <p>
      If you use this project, you can cite it using this suggested
      format.
    </p>
    <p id="suggested-citation">
      Lincoln A. Mullen,
      <em>America&rsquo;s Public Bible: A Commentary</em> (Stanford University
      Press, {{ .Site.Params.year }}):
      <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>,
      <a href="{{ .Site.Params.doi }}">{{ .Site.Params.doi }}</a>.
    </p>
  </section>

</main>

{{ end }}
