{{ define "header" }}

<header class="title-block">
  <div class="title">
    <h1>America&rsquo;s Public Bible</h1>
  </div>
  <div class="subtitle">A Commentary
    <span class="author">
      by <a href="https://lincolnmullen.com/">Lincoln A. Mullen</a>
    </span>
  </div>
</header>

{{ end }}

{{ define "main" }}

<section>
  <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="homepage-gallery">
    {{ range where .Site.RegularPages "Type" "gallery" | first 8 }}
    <div class="cell medium-3 small-4">
      <div class="callout" data-equalizer-watch>
        {{ $img := .Resources.GetMatch "quotation.png"}}
        {{ $thumbnail := $img.Fill "410x210 TopLeft" }}
        {{ $anchor := replace .Title " " "-" | lower }}
        <a href="/gallery/#{{ $anchor }}">
          <img src="{{ $thumbnail.Permalink }}" alt="Thumbnail of {{ .Title }}">
        </a>
      </div>
    </div>
    {{ end }}
  </div>
  <p class="text-right"><a href="/gallery/">See more quotations in the gallery &rarr;</a></p>
</section>

<section>
  <h2>About this website</h2>
  {{ .Content }}
</section>

<section>
  <h2>How to use this website</h2>
  {{ with .Site.GetPage "/how-to-use" }}
  {{ .Content }}
  {{ end }}
</section>

<section>
  <h2>Essays</h2>
  <dl>
    {{ range (where .Site.RegularPages "Type" "essay").ByParam "order" }}
    <dt>
      <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
    </dt>
    <dd>
      <p class="description">{{ .Description | markdownify }}</p>
    </dd>
    {{ end }}
  </dl>
</section>

<section>
  <h2>Featured verses</h2>
  <div id="featured"></div>
</section>

{{ end }}
