.selectize-input {
  /* border: 1px solid #dce4ec; */
  overflow: visible;
}

#verse-ts-labels {
  padding-top: 35px!important;
}

.shiny-input-container {
  width: 100%!important;
}

.dygraph-title {
  font-weight: normal;
}

tr.selected.even {
  background-color: transparent !important;
}

tr.selected.odd {
  background-color: #f9f9f9 !important;
}
