.Rproj.user
.Rhistory
.RData
wget-log
temp/
data/sample-data
data/sample
data/sn85066387
data/bible.rda
data/newspapers
data/newspaper-wordcounts.csv
scratch
logs/
nohup.out

results
data/bible-verses.csv
data/bible-verses.feather
data/noise.csv
data/noise.feather
data/quotations.csv
data/quotations.feather
data/wordcounts-by-year.csv
