body {
  font-size: 16px;
}

@font-face {
  font-family: 'league-gothic';
  src:
    url('fonts/LeagueGothic-Regular.otf')
  	format('opentype');

}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'league-gothic', serif;
}

.section {
  margin-top: 2.5rem;
}

#site-title {
  font-size: 8rem;
  margin-bottom: 0;
}

#site-subtitle {
  font-size: 4rem;
  margin-top: 0;
}

.navbar-brand {
  font-size: 2.0rem;
  font-weight: normal;
}

.main-container {
  margin-top: 30px;
}

#splash-image img {
  max-height: 500px;
  display: block;
  margin: auto;
}

.figure img {
  /* border: 1px solid black; */
}

.figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.caption {
  text-align: center;
  max-width: 85%;
  display: block;
  margin: auto;
  font-style: italic;
}

.caption em {
  font-style: normal;
}

footer {
  margin: 2rem;
  padding: 2rem;
  border-top: 1px solid gray;
}

blockquote {
  font-size: 100%;
}

.bibliography {
  margin-left: 50px;
}
