@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Typography */
body {
  font-family: 'IBM Plex Serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  /* text-align: justify;
  text-justify: inter-word;
  -moz-text-justify: newspaper;
  -webkit-text-justify: newspaper;
  -ms-text-justify: newspaper;
  -o-text-justify: newspaper; */
}

ul:not(.menu) li {
  list-style-type: square;
}

blockquote {
  color: black;
}

code {
  background: none;
  border: none;
}

table {
  width: unset;
}

/* Layout */
html {
  overflow-y: scroll;
  /* Account for sticky header when using relative links */
  scroll-padding-top: 200px;
}

.grid-container {
  max-width: 1000px;
}

/* Navigation and header */
header {
  margin: 2rem 0 2rem 0;
  padding: 0.5rem 0 0.5rem 0;
  /* border-bottom: 1px solid lightgray; */
}

/* Avoid ugly overlap with the nav bar bottom border */
main {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

header.title-block {
  border-bottom: 1px solid lightgray;
}

.title h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.title h1 a,
.title h1 a:hover,
.title h1 a:visited,
.subtitle a,
.subtitle a:hover,
.subtitle a:visited {
  color: black;
}


.subtitle {
  margin-top: -1.2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.author {
  font-size: 1rem;
  font-weight: normal;
  padding-left: 2rem;
}

nav.top-bar {
  background-color: white;
  padding: 0.75rem 1rem 0.75rem -1rem;
  margin-left: -0.1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px lightgray;
}

nav h1.nav-title {
  font-size: 1.25rem;
}

nav h1.nav-title a {
  color: black;
}

.menu {
  background-color: white;
  /* border: none; */
}

.is-dropdown-submenu-parent,
.is-dropdown-submenu-item {
  width: 15rem !important;
  background-color: white;
}

article.abstract {
  margin-bottom: 2rem;
}

article.essay .footnotes {
  margin-top: 6rem;
}

.footnotes ol li,
.footnotes ol li p {
  font-size: 0.9rem;
}

/* Footer */
footer {
  border-top: 1px solid lightgray;
  margin: 2rem 0 2rem 0;
  padding: 1rem 0 1rem 0;
}

.logo {
  width: 365px;
  margin: 0 0 1rem 0;
}

/* Gallery */
a.permalink {
  margin-left: 1rem;
}

#gallery .media-object {
  margin-bottom: 4rem;
}

.homepage-gallery .gallery-item {
  margin: 0.25rem;
  padding: 0.25rem;
  border: 1px solid lightgrey;
}

/* Table of contents */
#home {
  counter-reset: outline;
}

#home h2::before {
  content: counter(outline, upper-roman) '. ';
  counter-increment: outline;
}

#homepage-introduction {
  margin-top: 1rem;
}

#news time {
  font-weight: bold;
}

#news li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

#suggested-citation {
  margin-left: 2rem;
}

/* Essays and verse histories */
article.essay header,
article.verse-history header {
  border: none;
}

.toc-description {
  margin-left: 1rem;
  border-left: 1px solid lightgray;
  padding-left: 1rem;
}

.toc-verse {
  font-style: italic;
}

article.essay h3 {
  margin-top: 2rem;
}

/* Figures */
article {
  counter-reset: figures;
}

figure {
  counter-increment: figures;
  margin: 2rem 0 2rem 0;
}

figure img {
  /* Duplicate the thumbnail styles from Foundation */
  border: 4px solid #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

figure figcaption {
  display: inline-block;
  margin: 0.5rem 2rem 0 4rem;
  line-height: 0.9rem;
}

figure figcaption p {
  display: inline;
  font-size: 0.8rem;
}

figure figcaption p strong {
  font-weight: bold;
  color: rgb(80, 80, 89);
}

figure figcaption:before {
  content: 'Figure ' counter(figures) '. ';
  white-space: nowrap;
  display: inline;
  font-weight: bold;
  color: rgb(80, 80, 80);
  font-size: 0.8rem;
}

/* figure.two-up {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
} */

/* Quotations trends viewer and indexes */
.verse-index {
  margin: 2rem 0;
  padding: 0;
}

/* Some visualizations are linked; make sure they aren't colored like a link */
a div svg {
  color: black;
}

/* Callouts */
.callout.primary {
  background-color:rgba(255, 168, 55, 0.116);
}


#how-to-use.callout {
  width:50%;
  float:right;
  margin: 0 0 1rem 1rem;
}
