<div class="grid-x grid-margin-x">
  <div class="cell medium-3 small-6 callout">
    <p>Total quotations detected</p>
    <div class="stat">2.3 million</div>
  </div>
  <div class="cell medium-3 small-6 callout">
    <p>Bible verses visualized on this site</p>
    <div class="stat">TBD</div>
  </div>
  <div class="cell medium-3 small-6 callout">
    <p>Pages from <em>Chronicling America</em> included</p>
    <div class="stat">12.0 million</div>
  </div>
  <div class="cell medium-3 small-6 callout">
    <p>Pages from <em>Nineteenth-century Newspapers</em></p>
    <div class="stat">1.9 million</div>
  </div>
</div>
