<figure>
  {{ $ref := .Get "ref" }}
  {{ $id := urlize $ref }}
  <div id="{{ $id }}" data-ref="{{ $ref }}"></div>
  <figcaption>
    <p>{{ .Get "caption" | markdownify }}. See the verse viewer for <a href="/verse-viewer/?ref={{ $ref }}">
        {{ $ref }}</a> for more details.</p>
  </figcaption>
</figure>

{{ $path := "viz/verse-figure/main.js" }}
{{ $opts := dict "targetPath" $path "minify" "false"}}
{{ $script := resources.Get $path | js.Build $opts  }}
<script type="text/javascript" src="{{ $script.Permalink }}" data-ref="{{ $ref }}" data-id="{{ $id }}" defer></script>

{{ $style := resources.Get "viz/verse-viewer/style.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
