<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="medium-6 cell">


			<form action="https://buttondown.email/api/emails/embed-subscribe/lmullen" method="post" target="popupwindow"
				onsubmit="window.open('https://buttondown.email/lmullen', 'popupwindow')" class="embeddable-buttondown-form">
				<input type="email" name="email" id="bd-email" placeholder="Email address" />
				<input type="submit" value="Subscribe to &ldquo;Working on It&rdquo;" id="bd-submit" name="bd-subscribe"
					class="hollow button" />
			</form>
		</div>

		<div class="medium-6 cell">
			<form action="https://rrchnm.us14.list-manage.com/subscribe/post?u=36898c6824a31b8e1d4434a55&amp;id=18c732c256"
				method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
				novalidate>
				<div id="mc_embed_signup_scroll">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
							name="b_36898c6824a31b8e1d4434a55_18c732c256" tabindex="-1" value=""></div>
					<input type="submit" value='Subscribe to &ldquo;Religion @ RRCHNM&rdquo;' name="subscribe"
						id="mc-embedded-subscribe" class="hollow button">
				</div>
			</form>
		</div>

	</div>
</div>
