<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="en-us" class="no-js">
{{- "<!-- Hi! Thanks for viewing source. You're a person after my own heart. This is a scholarly project, and so I've tried to make the code as accessible as the prose, albeit while trying to keep performance good. Viewing source is not quite as friendly as it would be in Web 1.0, but I've done what I can. People who viewed source also like the GitHub repositories for this project (https://github.com/lmullen/americas-public-bible) and for the data API (https://github.com/chnm/dataapi). -->"
  | safeHTML -}}

<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ block "metadata" . }}
  {{ if .Page.Title }}
  <title>{{.Page.Title }} | {{ .Site.Title }}</title>
  {{ else}}
  <title>{{ .Site.Title }}</title>
  {{ end }}
  {{ if .Page.Description }}
  <meta name="description" content="{{ .Page.Description }}" />
  {{ else }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
  {{ end }}
  {{ partial "meta" . }}
  {{ end }}

  {{ $foundationCSS := resources.Get "css/foundation.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $foundationCSS.Permalink }}" />
  {{ $selectize := resources.Get "css/selectize.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $selectize.Permalink }}" />
  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" />

  <link rel="shortcut icon" href="/stanford_up_favicon.png">
  <link rel="apple-touch-icon" href="/stanford_up_favicon.png">

  {{ partial "analytics.html" . }}

  {{ $jquery := resources.Get "js/jquery.min.js" | resources.Fingerprint }}
  <script src="{{ $jquery.Permalink }}"></script>

</head>

<body>
  <div class="grid-container">
    {{ block "header" . }}

    <header>
      <div data-sticky-container>
        <nav class="top-bar" data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%">
          <div class="top-bar-left">
            <h1 class="nav-title"><a href="{{ .Site.Params.CoverURL }}">{{ .Site.Title }}</a></h1>
          </div>
          <div class="top-bar-right" style="text-align: left!important;">
            <a href="/#toc">Table of Contents</a><br>
          </div>
        </nav>
      </div>
    </header>
    {{ end }}

    {{ block "main" . }}

    <main>

    </main>
    {{ end }}

    {{ block "footer" . }}

    <footer class="footer">
      <div class="container">
        <!-- Copyright Information -->
        <div class="left">
          <p>© 2022 Stanford University. <a href="{{ .Site.Params.termsURL }}">Terms of Use</a>.</p>
        </div>
        <!-- ISBN Information -->
        <div class="center">
          <p>ISBN: {{ .Site.Params.ISBN }} | DOI: <a href="{{ .Site.Params.doiURL }}">{{ .Site.Params.doi }}</a> | OCLC: <a href=" {{ .Site.Params.oclcURL }}" target=" _blank">{{ .Site.Params.OCLC }}</a></p>
        </div>
        <!-- Publishing Information -->
        <div class="right">
          <p>Published by <a href="https://www.sup.org/" target="_blank">Stanford University Press</a></p>
          <div class="footer-graphic"><img src="/logo_stanford.svg" width="15" height="33" alt="Stanford University Press"></div>
        </div>
      </div>
    </footer>
    {{ end}}

  </div>
  {{ if isset .Params "script" }}
  {{ $opts := dict "targetPath" "viz/main.js" "minify" "true"}}
  {{ $script := resources.Get .Params.script | js.Build $opts | resources.Fingerprint }}
  <script src="{{ $script.Permalink }}"></script>
  {{ end }}
  {{ if isset .Params "style" }}
  {{ $style := resources.Get .Params.style | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ end }}

  {{ $foundationJS := resources.Get "js/foundation.min.js" | resources.Fingerprint }}
  <script src="{{ $foundationJS.Permalink }}"></script>
  {{ $selectize := resources.Get "js/selectize.min.js" | resources.Fingerprint }}
  <script src="{{ $selectize.Permalink }}"></script>
  <script>
    $(document).ready(function () {
      $(document).foundation();
    });
  </script>

</body>

</html>
