<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="en-us" class="no-js">
{{- "<!-- Hi! Thanks for viewing source. You're a person after my own heart. This is a scholarly project, and so I've tried to make the code as accessible as the prose, albeit while trying to keep performance good. Viewing source is not quite as friendly as it would be in Web 1.0, but I've done what I can. People who viewed source also like the GitHub repositories for this project (https://github.com/lmullen/americas-public-bible) and for the data API (https://github.com/chnm/dataapi). -->"
  | safeHTML -}}

<head>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ block "metadata" . }}
  {{ if .Page.Title }}
  <title>{{.Page.Title }} | {{ .Site.Title }}</title>
  {{ else}}
  <title>{{ .Site.Title }}</title>
  {{ end }}
  {{ if .Page.Description }}
  <meta name="description" content="{{ .Page.Description }}" />
  {{ else }}
  <meta name="description" content="{{ .Site.Params.Description }}" />
  {{ end }}
  <meta name="monetization" content="$ilp.uphold.com/3ZWiyMk9zAZE" />
  {{ partial "meta" . }}
  {{ end }}

  {{ $foundationCSS := resources.Get "css/foundation.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $foundationCSS.Permalink }}" />
  {{ $selectize := resources.Get "css/selectize.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $selectize.Permalink }}" />
  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" />

  <link rel="shortcut icon" href="/sup-icon.jpg">
  <link rel="apple-touch-icon" href="/sup-icon.jpg">

  {{ partial "analytics.html" . }}

  {{ $jquery := resources.Get "js/jquery.min.js" | resources.Fingerprint }}
  <script src="{{ $jquery.Permalink }}"></script>

</head>

<body>
  <div class="grid-container">
    {{ block "header" . }}

    <header>
      <div data-sticky-container>
        <nav class="top-bar" data-sticky data-options="marginTop:0;" data-top-anchor="1" style="width:100%">
          <div class="top-bar-left">
            <h1 class="nav-title"><a href="/">{{ .Site.Title }}</a></h1>
          </div>
          <div class="top-bar-right" style="text-align: left!important;">
            <a href="/#toc">Table of Contents</a>
          </div>
        </nav>
      </div>
    </header>
    {{ end }}

    {{ block "main" . }}

    <main>

    </main>
    {{ end }}

    {{ block "footer" . }}

    <div id="project-info">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
          <a href="http://www.sup.org/digital/"><img src="/SUP.png" alt="Stanford University Press logo"
              class="logo" /></a>
          <a href="https://rrchnm.org/"><img src="/RRCHNM.jpg" alt="RRCHNM logo" class="logo" /></a>
          <p>
            ISBN: {{ .Site.Params.isbn }}<br />
            DOI: <a href="{{ .Site.Params.doi }}">{{ .Site.Params.doi }}</a>
          </p>
        </div>
        <div class="cell medium-6">
          <p>
            <a href="/acknowledgements/">Acknowledgements</a>
          </p>
          <p>
            Created at the <a href="">Roy Rosenzweig Center for History and New Media</a>. Published by <a
              href="http://www.sup.org/digital/">Stanford University Press</a>. </p>
          <p>
            This project is &copy; 2016&ndash;{{ .Site.Params.year }}
            <a href="https://lincolnmullen.com">Lincoln Mullen</a>.<br />
            All prose is licensed
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.<br />
            All code is licensed <a href="https://opensource.org/licenses/MIT">MIT</a>.<br />
            All data is licensed <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>.
          </p>
        </div>
      </div>
    </div>

    <footer id="footer">
      <!-- Copyright Information -->
      <div class="copyright">
        <p>© 2022 Stanford University. <a href="">Terms of Use</a>.</p>
      </div>
      <!-- ISBN Information -->
      <ul class="info">
        <li>ISBN: {{ .Site.Params.ISBN }}</li>
        <li>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOI: 10.21627/2022apb&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</li>
        <li>OCLC: <a href="" target="_blank">{{ .Site.Params.OCLC }}</a></li>
      </ul>
      <!-- Publishing Information -->
      <div class="press">
        <p>Published by <a href="https://www.sup.org/" target="_blank">Stanford University Press</a></p>
        <a class="img" href="https://www.sup.org/" target="_blank"><img src="/logo_stanford.svg" width="16" height="34"
            alt="Stanford University Press"></a>
      </div>
    </footer>
    {{ end}}

  </div>
  {{ if isset .Params "script" }}
  {{ $opts := dict "targetPath" "viz/main.js" "minify" "true"}}
  {{ $script := resources.Get .Params.script | js.Build $opts | resources.Fingerprint }}
  <script type="text/javascript" src="{{ $script.Permalink }}"></script>
  {{ end }}
  {{ if isset .Params "style" }}
  {{ $style := resources.Get .Params.style | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ end }}

  {{ $foundationJS := resources.Get "js/foundation.min.js" | resources.Fingerprint }}
  <script src="{{ $foundationJS.Permalink }}"></script>
  {{ $selectize := resources.Get "js/selectize.min.js" | resources.Fingerprint }}
  <script src="{{ $selectize.Permalink }}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(document).foundation();
    });
  </script>

</body>

</html>
