<form action="https://buttondown.email/api/emails/embed-subscribe/lmullen" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/lmullen', 'popupwindow')" class="embeddable-buttondown-form">
	<div class="input-group">
		<span class="input-group-label">Subscribe to &ldquo;Working on It&rdquo;</span>
		<input class="input-group-field" type="email" name="email" id="bd-email" placeholder="Email address" />
		<div class="input-group-button">
			<input type="submit" value="Subscribe" id="bd-submit" name="bd-subscribe" class="button" />
		</div>
		<input type="hidden" name="tag" value="apb">
</form>

</div>
