<ul class="dropdown menu" data-dropdown-menu>
	<li>
		<a href="/#toc">Table of contents</a>
		<ul class="menu">
			<li><a href="/#preface">Preface</a></li>
			<li><a href="/#essays">I. Essays and explorations</a></li>
			<li><a href="/#verse-histories">II. Verse histories</a></li>
			<li><a href="/#verse-trends">III. Verse trends</a></li>
			<li><a href="/#gallery">IV. Quotations gallery</a></li>
			<li><a href="/#appendix">Appendix: Data and code</a></li>
			<li><a href="/#suggested-citation">Suggested citation</a></li>
			<li><a href="/#news">Project news and changelog</a></li>
			<li><a href="/acknowledgements/">Acknowledgements</a></li>
		</ul>
	</li>
</ul>
