<form id="verse-select">
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="medium-9 cell">
				<select id="ref" name="ref"></select>
			</div>
			<div class="medium-3 cell">
				<button type="submit" class="button" id="selectize-submit">See verse trend</button>
			</div>
		</div>
	</div>
</form>
<script>
	const initSelector = function (data) {
		$("#ref").selectize({
			items: [],
			options: data,
			create: false,
			maxItems: 1,
			maxOptions: 3000,
			valueField: 'reference',
			labelField: 'text',
			searchField: ['reference', 'text'],
			placeholder: 'Type the reference or text of a verse',
			render: {
				item: function (item, escape) {
					return `<div class='select-option'><strong>${escape(item.reference)}</strong>&mdash;${escape(item.text)}</div>`;
				},
				option: function (item, escape) {
					return `<div class='select-option'><strong>${escape(item.reference)}</strong>&mdash;${escape(item.text)}</div>`;
				},
			},
		});
		$("#verse-select").submit(submitSelector);
	}

	const submitSelector = function (event) {
		event.preventDefault();
		var reference = $("#ref").val();
		window.location.href = '/verse-viewer/?ref=' + encodeURIComponent(reference)
	}

	// const allVersesURL = 'http://localhost:8090/apb/index/all';
	const allVersesURL = 'https://data.chnm.org/apb/index/all';
	fetch(allVersesURL)
		.then(resp => resp.json())
		.then(data => {
			$(document).ready(function () {
				initSelector(data)
			});
		}
		)
		.catch(error => console.log(error))
</script>
